* {
  margin: 0;
}

#contents {
  background: url("../images/bg.jpg") no-repeat;
  background-size: cover;
  width: 800px;
  height: 500px;
  margin: 0 auto;
  position: relative;
}

#contents > h1 {
  color: white;
  font-size: 100px;
  text-shadow: 3px 3px black;
  position: absolute;
  right: 80px;
  bottom: 80px;
}
